In [5]:
# Load Iris and organize our data

In [2]:
from sklearn.datasets import load_iris
data = load_iris()
label_names = data['target_names']
labels = data['target']
feature_names = data['feature_names']
features = data['data']

In [3]:
# Print feature names

In [4]:
print(feature_names)
print(label_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

In [6]:
import pandas as pd

iris = pd.DataFrame(features, columns = feature_names)
iris.shape

(150, 4)

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [8]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [ ]:
# Χρησιμοποιούμε το train_test_split για να διαχωρίσουμε σε train και test set
# το (int) όρισμα "random state" είναι το seed της γεννήτριας τυχαίων αριθμών = βάζουμε πάντα το ίδιο αριθμό
# ώστε να λαμβάνουμε το ίδιο train - test set μετά το split των αρχικών δεδομένων

In [14]:
import numpy as np 

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.40, random_state=78)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

# Initialize classifier:
knn = KNeighborsClassifier(n_neighbors=5)

# Train the classifier:
knn.fit(X_train, y_train)

# Make predictions with the classifier:
pred = knn.predict(X_test)

print("Labels' prediction", pred)
print("Labels from test set", y_test)

Labels' prediction [2 2 2 1 1 1 1 0 1 2 2 1 2 0 1 1 1 1 0 0 0 2 2 0 1 1 1 0 1 2 2 2 2 1 0 0 2
 0 1 0 1 2 2 1 2 0 0 0 2 0 2 0 1 0 1 1 1 0 0 0]
Labels from test set [2 2 2 1 1 1 1 0 1 2 2 1 2 0 1 1 1 1 0 0 0 1 2 0 1 1 1 0 1 2 2 2 2 1 0 0 2
 0 1 0 1 2 2 1 2 0 0 0 2 0 2 0 1 0 1 1 1 0 0 0]

In [ ]:
# Import Gaussian Naive Bayes classifier:
from sklearn.naive_bayes import GaussianNB 

# Initialize classifier:
gnb = GaussianNB()

# Train