In [2]:
import pandas as pd


# Read data from file
df = pd.read_csv('adult.data.csv')

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [9]:
race_count = df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [12]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

# What is the average age of men?

In [2]:
average_age_men = df[df.sex=='Male'].age.mean()

# What is the percentage of people who have a Bachelor's degree?

In [37]:
percentage_bachelors = len(df[df.education=='Bachelors'])*100/len(df)

### What percentage of people with/without advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [ ]:
higher_education = len(df[(df.education == 'Bachelors') |
                          (df.education == 'Masters') |
                          (df.education == 'Doctorate')])
lower_education = len(df) - higher_education

In [3]:
df[((df.education == 'Bachelors') |
    (df.education == 'Masters') |
    (df.education == 'Doctorate'))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [4]:
df[((df.education != 'Bachelors') &
    (df.education != 'Masters') &
    (df.education != 'Doctorate'))]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

##### percentage with salary >50K

In [ ]:
higher_education_rich = len(df[((df.education == 'Bachelors') |
                                (df.education == 'Masters') |
                                (df.education == 'Doctorate')) &
                                (df.salary == '>50K')])*100/higher_education
lower_education_rich = len(df[((df.education != 'Bachelors') &
                                (df.education != 'Masters') &
                                (df.education != 'Doctorate')) &
                                (df.salary == '>50K')])*100/lower_education

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [84]:
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [82]:
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])

In [85]:
rich_percentage = int(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])*100/num_min_workers)

# What country has the highest percentage of people that earn >50K?

step 1: by country percentage of earning more than 50k
        step 1.1: group by country and calculate number of people and number of earning more than 50k people
        step 1.2: divide the columns and get the percentage
step 2: order descending by percentage
step 3: get first one

In [10]:
salaries_by_country = df.groupby(['native-country', 'salary']).agg({'salary' : 'count'})
print(salaries_by_country)

                       salary
native-country salary
?              <=50K      437
               >50K       146
Cambodia       <=50K       12
               >50K         7
Canada         <=50K       82
...                       ...
United-States  >50K      7171
Vietnam        <=50K       62
               >50K         5
Yugoslavia     <=50K       10
               >50K         6

[82 rows x 1 columns]

In [11]:
percentages_by_country = salaries_by_country.groupby(level=0, group_keys=False).apply(lambda x: x/x.sum())
percentages_by_country = percentages_by_country.rename(columns = {'salary':'percentages'})

In [7]:
percentages_by_country.head(5)

                       percentages
native-country salary
?              <=50K      0.749571
               >50K       0.250429
Cambodia       <=50K      0.631579
               >50K       0.368421
Canada         <=50K      0.677686

In [12]:
percentages_by_country = percentages_by_country.reset_index()

In [16]:
percentages_by_country[percentages_by_country['salary'] == '>50K'].sort_values(by = ['percentages'], ascending=False).iloc[0][2]

0.4186046511627907

In [ ]:
highest_earning_country = None
highest_earning_country_percentage = None

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

In [ ]:
# DO NOT MODIFY BELOW THIS LINE

if print_data:
    print("Number of each race:\n", race_count)
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
    print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
    print(f"Min work time: {min_work_hours} hours/week")
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
    print("Country with highest percentage of rich:", highest_earning_country)
    print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
    print("Top occupations in India:", top_IN_occupation)

return {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'percentage_bachelors': percentage_bachelors,
    'higher_education_rich': higher_education_rich,
    'lower_education_rich': lower_education_rich,
    'min_work_hours': min_work_hours,
    'rich_percentage': rich_percentage,
    'highest_earning_country': highest_earning_country,
    'highest_earning_country_percentage':
    highest_earning_country_percentage,
    'top_IN_occupation': top_IN_occupation
}