In [2]:
import pandas as pd


# Read data from file
df = pd.read_csv('adult.data.csv')

In [3]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [4]:
popular_occupation = df.groupby(['native-country', 'salary', 'occupation']).agg({'salary' : 'count'})
popular_occupation.head(5)

                                       salary
native-country salary occupation
?              <=50K  ?                    23
                      Adm-clerical         40
                      Craft-repair         48
                      Exec-managerial      43
                      Farming-fishing       5

In [7]:
popular_occupation = popular_occupation.rename(columns = {'salary' : 'count'})
popular_occupation = popular_occupation.reset_index()
popular_occupation.head(5)

  native-country salary       occupation  count
0              ?  <=50K                ?     23
1              ?  <=50K     Adm-clerical     40
2              ?  <=50K     Craft-repair     48
3              ?  <=50K  Exec-managerial     43
4              ?  <=50K  Farming-fishing      5

In [12]:
popular_occupation = popular_occupation[(popular_occupation['native-country'] == 'India') & (popular_occupation['salary'] == '>50K')].sort_values(by='count', ascending=False)

In [13]:
popular_occupation.iloc[0]

native-country             India
salary                      >50K
occupation        Prof-specialty
count                         25
Name: 301, dtype: object