In [17]:
import pandas as pd


# Read data from file
df = pd.read_csv('adult.data.csv')

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [9]:
race_count = df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [12]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

# What is the average age of men?

In [2]:
average_age_men = df[df.sex=='Male'].age.mean()

# What is the percentage of people who have a Bachelor's degree?

In [37]:
percentage_bachelors = len(df[df.education=='Bachelors'])*100/len(df)

### What percentage of people with/without advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [ ]:
higher_education = len(df[(df.education == 'Bachelors') |
                          (df.education == 'Masters') |
                          (df.education == 'Doctorate')])
lower_education = len(df) - higher_education

##### percentage with salary >50K

In [ ]:
higher_education_rich = len(df[((df.education == 'Bachelors') |
                                (df.education == 'Masters') |
                                (df.education == 'Doctorate')) &
                                (df.salary == '>50K')])*100/higher_education
lower_education_rich = len(df[((df.education != 'Bachelors') &
                                (df.education != 'Masters') &
                                (df.education != 'Doctorate')) &
                                (df.salary == '>50K')])*100/lower_education

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [84]:
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [82]:
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])

In [85]:
rich_percentage = int(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])*100/num_min_workers)

# What country has the highest percentage of people that earn >50K?

step 1: by country percentage of earning more than 50k
        step 1.1: group by country and calculate number of people and number of earning more than 50k people
        step 1.2: divide the columns and get the percentage
step 2: order descending by percentage
step 3: get first one

In [111]:
salaries_by_country = df.groupby(['native-country', 'salary']).agg({'salary' : 'count'})
print(salaries_by_country)

KeyError: "Column(s) ['percent'] do not exist"

In [119]:
percentages_by_country = salaries_by_country.groupby(level=0, group_keys=False).apply(lambda x: x/x.sum())
percentages_by_country = percentages_by_country.rename(columns = {'salary':'percentages'})

In [125]:
percentages_by_country.head(5)

                       percentages
native-country salary
?              <=50K      0.749571
               >50K       0.250429
Cambodia       <=50K      0.631579
               >50K       0.368421
Canada         <=50K      0.677686

In [129]:
percentages_by_country = percentages_by_country.reset_index()

In [138]:
percentages_by_country[percentages_by_country['salary'] == '>50K'].sort_values(by = ['percentages'], ascending=False).iloc(1)

In [ ]:
highest_earning_country = None
highest_earning_country_percentage = None

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

In [ ]:
# DO NOT MODIFY BELOW THIS LINE

if print_data:
    print("Number of each race:\n", race_count)
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
    print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
    print(f"Min work time: {min_work_hours} hours/week")
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
    print("Country with highest percentage of rich:", highest_earning_country)
    print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
    print("Top occupations in India:", top_IN_occupation)

return {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'percentage_bachelors': percentage_bachelors,
    'higher_education_rich': higher_education_rich,
    'lower_education_rich': lower_education_rich,
    'min_work_hours': min_work_hours,
    'rich_percentage': rich_percentage,
    'highest_earning_country': highest_earning_country,
    'highest_earning_country_percentage':
    highest_earning_country_percentage,
    'top_IN_occupation': top_IN_occupation
}